/* Custom styles for pelican-attila-x */

@import "style";

:root {
	--color-content-lead: #222;
	--color-background-main: #fefefe;
	--font-secondary: 'Source Serif 4', serif;
	--color-primary: #327CCB;
	--ghost-accent-color: #327CCB;
}

.blog-name {
	font-size: 4em;
}

.blog-description {
	font-size: 2em;
}

.blog-header {
	padding-top: calc(15rem + 4vw);

	&.has-cover {
		padding-top: calc(15rem + 4vw);
	}
}

.blog-cover img, .post-cover img {
	opacity: 0.5;
}

.post-title {
	font-size: 3em;
}

.post-header .post-title {
	font-size: 4em;
}

.post-excerpt {
	font-size: 2em;
	line-height: 1.5em;
}

.post-content {

	font-size: 2em;
	line-height: 1.75em;

	figure a.kg-bookmark-container:hover, figure a.kg-bookmark-container:focus {
		border: 1px solid var(--color-background-contrast);
	}
	
	p.summary {
		font-size: 2.7rem;
		margin-bottom: 2em;
	}

	dl dt::before {
		background-color: var(--color-content-secondary);
	}

	ol > li::before, ul > li::before {
		color: var(--color-content-secondary);
	}
}

.post-share .email {
	background-color: var(--ghost-accent-color);
}

.nav-meta {

	li {
		&.nav-mastodon,
		&.nav-gitlab,
		&.nav-rss
		{
			@media only screen and (max-width: $breakpoint-medium) {
				display: none;
			}
		}
	}
}
