    <!-- TODO: url absolute param-->
    {% if article %}
        {% set item = article %}
    {% elif page %}
        {% set item = page %}
    {% endif %}

    {% set url = SITEURL + "/" + item.url %}
    {% set title = item.title %}

    {#
    {% if page %}
        {% set url = SITEURL + "/" + page.url %}
        {% set title = page.title %}
    {% elif article %}
        {% set url = SITEURL + "/" + article.url %}
        {% set title = article.title %}
    {% endif %}

    #}
      <div class="post-share">
        <span class="post-info-label">Share</span>
        <a title="Twitter" class="twitter" 
        href="https://twitter.com/share?text={{title}}&url={{url}}" 
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <i class="icon icon-twitter"></i><span class="hidden">Twitter</span>
        </a>
        <a title="Facebook" class="facebook" 
        href="https://www.facebook.com/sharer/sharer.php?u={{url}}" 
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <i class="icon icon-facebook"></i><span class="hidden">Facebook</span>
        </a>
        <a title="LinkedIn" class="linkedin" 
        href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url}}/&amp;title={{title}}" 
        onclick="window.open(this.href, 'linkedin-share', 'width=930,height=720');return false;">
          <i class="icon icon-linkedin"></i><span class="hidden">LinkedIn</span>
        </a>
        <a title="Email" class="email" href="mailto:?subject={{title}}&amp;body={{url}}">
          <i class="icon icon-mail"></i><span class="hidden">Email</span>
        </a>
      </div>
