    <!-- TODO: url absolute param-->
    {% if article %}
        {% set item = article %}
    {% elif page %}
        {% set item = page %}
    {% endif %}

    {% set url = SITEURL + "/" + item.url %}
    {% set title = item.title %}

    {#
    {% if page %}
        {% set url = SITEURL + "/" + page.url %}
        {% set title = page.title %}
    {% elif article %}
        {% set url = SITEURL + "/" + article.url %}
        {% set title = article.title %}
    {% endif %}

    #}
      <div class="post-share">
        <span class="post-info-label">Share</span>
        <a title="Email" class="email" href="mailto:?subject={{title}}&amp;body={{url}}">
          <i class="icon icon-mail" aria-hidden="true"></i><span class="hidden">Email</span>
        </a>
      </div>
