{% if FORMSPREE_ID %}
          <form class="contact-form" action="https://formspree.io/{{ FORMSPREE_ID }}" method="post">
            <label for="full-name">Name</label>
            <input type="text" name="name" id="full-name" placeholder="First and Last" required>
            <label for="email-address">Email Address</label>
            <input type="email" name="_replyto" id="email-address" placeholder="Your email address" required>
            <label for="message">Message</label>
            <textarea rows="5" name="message" id="message" placeholder="Your message" required></textarea>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
            <input type="submit" value="Submit">
          </form>
{% endif %}
