{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% if article.cover and article.cover | length > 0 %}
  {% set cover_image = SITEURL ~ '/' ~ article.cover %}
{% endif %}

{% block canonical_url %}<link href="{{ SITEURL }}/{{ article.url }}" rel="canonical" />{% endblock canonical_url %}
{% block head %}
  {{ super() }}

  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" >
  {% endfor %}

  {% if description %}
    <meta name="description" content="{{ description }}">
  {% elif article.headline %}
    <meta name="description" content="{{ article.headline }}">
  {% elif article.summary %}
    <meta name="description" content="{{ article.summary|striptags|truncate(140) }}">
  {% endif %}

  {% for author in article.authors %}
    <meta name="author" content="{{ author }}">
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}">
  {% endfor %}

  {% include 'partials/og_article.html' %}
  {% include 'partials/jsonld_article.html' %}
{% endblock %}

{% block header %}
    <header {% if cover_image %}class="post-header has-cover"{% else %}class="post-header"{% endif %}>
      <div class="inner">
        <span class="post-info">
          {% if article.tags %}
            {% set primary_tag = article.tags[0] %}

            {% if INDIEWEB is defined %}
            <a href="{{ SITEURL }}/{{ primary_tag.url }}" class="post-type p-category">{{ primary_tag | escape}}</a>
            {% else %}
            <a href="{{ SITEURL }}/{{ primary_tag.url }}" class="post-type">{{ primary_tag | escape}}</a>
            {% endif %}

          {% endif %}
        </span>
        {% set title = article.title %}

        {% if INDIEWEB is defined %}
        <h1 class="post-title p-name">{{ title }}</h1>
        {% else %}
        <h1 class="post-title">{{ title }}</h1>
        {% endif %}

        <div class="post-meta">
          <div class="post-meta-avatars">
            {% for author in article.authors %}
                {% if AUTHORS and author.name in AUTHORS %}
                  {% set author_data = AUTHORS[author.name] %}
                    {% if author_data.avatar %}
                      {% set avatar_image = SITEURL + "/" + author_data.avatar %}
                    <figure class="post-meta-avatar avatar">
                    <a href="{{ SITEURL }}/{{ author.url }}"  class="author-avatar">
                      <img class="author-profile-image" src="{{ avatar_image }}" alt="{{ author }}" />
                    </a>
                  </figure>
                    {% endif %}
                {% endif %}
            {% endfor %}
          </div>
          {% for author in article.authors %}

            {% if INDIEWEB is defined %}
            <p class="post-meta-author"><a href="{{ SITEURL }}" rel="author" class="p-author h-card">{{author.name}}</a></p>
            {% else %}
            <p class="post-meta-author"><a href="{{ SITEURL }}" rel="author">{{author.name}}</a></p>
            {% endif %}

          {% endfor %}

          {% if INDIEWEB is defined %}
          <a class="u-url" href="{{ SITEURL }}/{{ article.url }}"><time class="dt-published" datetime="{{ article.date.isoformat() }}">{{ article.date | strftime('%d %B %Y') }}</time></a>
          {% else %}
          <a href="{{ SITEURL }}/{{ article.url }}"><time datetime="{{ article.date.isoformat() }}">{{ article.date | strftime('%d %B %Y') }}</time></a>
          {% endif %}

          {% if article.modified %}
          &centerdot; Updated
            {% if INDIEWEB is defined %}
            <time class="dt-updated" datetime="{{ article.modified.isoformat() }}">{{ article.modified | strftime('%d %B %Y') }}</time>
            {% else %}
            <time datetime="{{ article.modified.isoformat() }}">{{ article.modified | strftime('%d %B %Y') }}</time>
            {% endif %}
          {% endif %}
        </div>

        {% if cover_image %}
            <div class="post-cover cover">
              <img src="{{ cover_image }}" alt="{{ title }}" />
            </div>
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block content %}
<main class="content" role="main">
  <article class="post">
    <div class="inner">
    {% if INDIEWEB is defined %}
      <section class="post-content e-content">
    {% else %}
      <section class="post-content">
    {% endif %}
          {% if article.introduction %}
          <p class="post-large-text">{{ article.introduction | striptags}}</p>
          {% endif %}
          {{article.content}}
      </section>

      <section class="post-footer">
      {% block share_section %}
          {% include "partials/share.html" %}
      {% endblock %}
      {% if article.tags %}
        <aside class="post-tags">
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">&num;{{ tag | escape }}</a>
            {% if not loop.last %}{% endif %}{% endfor %}
        </aside>
      {% endif %}
      </section>
      {% if MAILCHIMP_URL and MAILCHIMP_USER and MAILCHIMP_FORM_ID %}
        {% include 'services/mailchimp.html' %}
      {% endif %}

      {# Ignore comments if set in article metadata #}
      {% if article.comments != "disable" %}
       {% include 'services/comments.html' %}
      {% endif %}

      {% if article.next_article or article.prev_article %}
      <aside class="post-nav">
          {% if article.next_article %}
          <a class="post-nav-next" href="{{ SITEURL }}/{{ article.next_article.url}}">
              <section class="post-nav-teaser">
                  <i class="icon icon-arrow-left" aria-label="Next post"></i>
                      <h2 class="post-nav-title">{{ article.next_article.title }}</h2>
                  <p class="post-nav-excerpt">{{ article.next_article.summary|striptags|truncate(90) }}</p>
                  <p class="post-nav-meta"><time datetime="{{ article.date.isoformat() }}">{{ article.next_article.date | strftime('%d %B %Y') }}</time></p>
              </section>
          </a>
          {% endif %}
          {% if article.prev_article %}
          <a class="post-nav-prev" href="{{ SITEURL }}/{{ article.prev_article.url}}">
              <section class="post-nav-teaser">
                  <i class="icon icon-arrow-right" aria-label="Previous post"></i>
                      <h2 class="post-nav-title">{{ article.prev_article.title }}</h2>
                  <p class="post-nav-excerpt">{{ article.prev_article.summary|striptags|truncate(90) }}</p>
                  <p class="post-nav-meta"><time datetime="{{ article.date.isoformat() }}">{{ article.prev_article.date | strftime('%d %B %Y') }}</time></p>
              </section>
          </a>
          {% endif %}
          <div class="clear"></div>
      </aside>
      {% endif %}
    </div>
  </article>
</main>
{% endblock content %}
{% block scripts %}
<script>
  $(document).ready(function () {
		var viewport = $(window);
		var post = $('.post-content');
		// Responsive videos with fitVids
    post.fitVids();
  });
</script>
{% endblock scripts %}
