{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock title %}

{% if COVER_IMAGES and "authors" in COVER_IMAGES %}
{% set selected_cover = SITEURL + "/" + COVER_IMAGES["authors"] %}
{% endif %}


{% block header %}
<header {%if selected_cover %}class="post-header has-cover"{% else %}class="post-header"{% endif %}>
  <div class="inner">
    <h1 class="post-title">Authors</h1>
    {% if selected_cover %}
    <div class="post-cover cover">
      <img src="{{ selected_cover }}" alt="Authors on {{ SITEURL }}" />
    </div>
    {% endif %}
  </div>
</header>
{% endblock header %}

{% block content %}
<main class="content" role="main">
  <article class="post">
    <div class="inner">
      <section class="post-content">
        <p>
          {% for author, articles in authors|sort %}
          {% set author_name = author.name | title  %}
          {% if AUTHORS_BIO and author.name.lower() in AUTHORS_BIO %}
          {% set author_name = AUTHORS_BIO[author.name.lower()].name or author.name %}
          {% endif %}
          <a href="{{ SITEURL }}/{{ author.url }}" rel="bookmark">{{ author_name }}</a>
          <small>({{ articles|count }})</small><br />
          {% if not loop.last %}
          <hr>
          {% endif %}
          {% endfor %}
        </p>
      </section>
    </div>
  </article>
</main>
{% endblock content %}