{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock title %}

{% if COVER_IMAGES and "authors" in COVER_IMAGES %}
{% set cover_image = SITEURL + "/" + COVER_IMAGES["authors"] %}
{% endif %}

{% block header %}
<header {%if cover_image %}class="post-header has-cover"{% else %}class="post-header"{% endif %}>
  <div class="inner">
    <h1 class="post-title">Authors</h1>
    {% if cover_image %}
    <div class="post-cover cover">
      <img src="{{ cover_image }}" alt="Authors on {{ SITEURL }}" />
    </div>
    {% endif %}
  </div>
</header>
{% endblock header %}

{% block content %}
<main class="content" role="main">
  <article class="post">
    <div class="inner">
      <section class="post-content">
        <p>
          {% for author, articles in authors|sort %}
          <a href="{{ SITEURL }}/{{ author.url }}" rel="bookmark">{{ author }}</a>
          <small>({{ articles | count }})</small><br />
            {% if not loop.last %}
              <hr>
            {% endif %}
          {% endfor %}
        </p>
      </section>
    </div>
  </article>
</main>
{% endblock content %}
