{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Articles in the {{ category }} category{% endblock %}

{% block header %}
  {% set cover_image = '' %}
  {% if COVER_IMAGES and 'category' in COVER_IMAGES %}
    {% if category in COVER_IMAGES['category'] %}
      {% if COVER_IMAGES['category'][category] | length > 0 %}
        {% set cover_image = SITEURL ~ '/' ~ COVER_IMAGES['category'][category] %}
      {% endif %}
    {% endif %}
  {% endif %}
    <header {%if cover_image %}class="blog-header has-cover"{% else %}class="blog-header"{% endif %}>
      <div class="inner">
        <div class="archive archive-tag box archive-box">
          <span class="archive-info">
            <span class="archive-type">Category</span>
            <span class="archive-count">{{ articles|count }} {% if articles|count > 1 %} Posts {% else %} Post {% endif %}</span>
          </span>
          <h2 class="archive-title">{{ category }}</h2>
        </div>
    
        {% if cover_image %}
        <div class="blog-cover cover">
          <img
          src="{{ cover_image }}"
          alt="{{ SITENAME }}" />
        </div>
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block content %}
<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}
