{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block header %}
  {% set cover_image = '' %}
  {% if COVER_IMAGES %}
    {% if 'categories' in COVER_IMAGES %}
      {% if COVER_IMAGES['categories'] | length > 0 %}
        {% set cover_image = SITEURL ~ '/' ~ COVER_IMAGES['categories'] %}
      {% endif %}
    {% endif %}
  {% endif %}
    <header {%if cover_image %}class="post-header has-cover"{% else %}class="post-header"{% endif %}>
      <div class="inner">
        <h1 class="post-title">Categories</h1>
        {% if cover_image %}
        <div class="post-cover cover">
          <img src="{{ cover_image }}" alt="Categories on {{ SITEURL }}" />
        </div>
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block content %}
<main class="content" role="main">
  <article class="post">
    <div class="inner">
      <section class="post-content">
      <p>
      There are blog posts in the following categories:
      </p>
      <p>
      {% for category, articles in categories | sort %}
          <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> 
          <small>({{ articles|count }})</small>
        <br />
      {% endfor %}
    </p>
      </section>
      </div>
      </article>
</main>
{% endblock content %}
