{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% include 'partials/og.html' %}
    {% include 'partials/jsonld.html' %}
{% endblock %}

{% set selected_cover = "" %}
{% if COVER_IMAGES and "index" in COVER_IMAGES %}
  {% set selected_cover = SITEURL + "/" + COVER_IMAGES["index"] %}
{% endif %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="blog-header{% if selected_cover %} has-cover{% endif %}">
      <div class="inner">
        <div class="box blog-box">
          <h1 class="blog-name">{{ SITENAME }}</h1>
          {% if SITESUBTITLE %}
          <span class="blog-description">{{ SITESUBTITLE }}</span>
          {% endif %}
        </div>

        {% if selected_cover %}
          <div class="blog-cover cover">
            <img src="{{ selected_cover }}" alt="{{ SITENAME }}" />
          </div>
        {% endif %}
    </header>

{% endblock header %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}
