{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% include 'partials/og.html' %}
    {% include 'partials/jsonld.html' %}
{% endblock %}

{% block header %}
  {% set cover_image = '' %}
  {% if COVER_IMAGES %}
    {% if 'index' in COVER_IMAGES %}
      {% if COVER_IMAGES['index'] | length > 0 %}
        {% set cover_image = SITEURL ~ '/' ~ COVER_IMAGES['index'] %}
      {% endif %}
    {% endif %}
  {% endif %}
    <header class="blog-header{% if cover_image %} has-cover{% endif %}">
      <div class="inner">
        <div class="box blog-box">
          <h1 class="blog-name">{{ SITENAME }}</h1>
          {% if SITESUBTITLE %}
          <span class="blog-description">{{ SITESUBTITLE }}</span>
          {% endif %}
        </div>

        {% if cover_image %}
          <div class="blog-cover cover">
            <img src="{{ cover_image }}" alt="{{ SITENAME }}" />
          </div>
        {% endif %}
        </div>
    </header>

{% endblock header %}

{% block content %}
<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}
