{% extends "page.html" %}

{% block header %}
    {# cover_image is defined in page.html on which this template is based on #}
    <header {%if cover_image %}class="post-header has-cover"{% else %}class="post-header"{% endif %}>
      <div class="inner">
        <span class="post-info">
          <span class="post-type">Notebook</a></span>
        </span>
        {% set title = page.title %}
        <h1 class="post-title">{{ title }}</h1>
        <!-- TODO : Proper class for headline -->
        {% if page.headline %}
            <span class="blog-description">{{ page.headline }}</span>
        {% endif %}
        <div class="post-meta">
          <div class="post-meta-avatars">
            {% for author in page.authors %}
                {% set author_name = author.name.lower() %}

                {% if AUTHORS_BIO and author_name in AUTHORS_BIO %}
                    {% set author_fullname = AUTHORS_BIO[author_name].name %}

                    {% if AUTHORS_BIO[author_name].image %}
                    {% set author_image = AUTHORS_BIO[author_name].image %}
                    <figure class="post-meta-avatar avatar">

                    <a href="{{ SITEURL }}/{{ author.url }}"  class="author-avatar">
                      <img class="author-profile-image" src="{{ SITEURL }}/{{ author_image }}" alt="{{ author_name }}" />
                    </a>
                  </figure>
                    {% endif %}

                {% endif %}

            {% endfor %}
          </div>
          {% for author in page.authors %}
            <h4 class="post-meta-author">{{author.name}}</h4>
          {% endfor %}
          <time datetime="{{ page.date.isoformat() }}">{{ page.date | strftime('%d %B %Y') }}</time>
          {% if page.modified %}
          &bull; Updated <time datetime="{{ page.modified.isoformat() }}">{{ page.modified | strftime('%d %B %Y') }}</time>
          {% endif %}
        </div>

        {% if cover_image %}
            <div class="post-cover cover">
              <img src="{{ cover_image }}" alt="{{ title }}" />
            </div>
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block share_section %}
<section class="post-footer">
    {% include "partials/share.html" %}
</section>
{% endblock %}

{% block comments_section %}
  {% include "partials/comments.html" %}
{% endblock %}
