{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives for {{ period | reverse | join (' ') }}{% endblock %}

{% if COVER_IMAGES and "period_archives" in COVER_IMAGES %}
  {% set cover_image = SITEURL + "/" + COVER_IMAGES["period_archives"] %}
{% endif %}

{% block header %}
    <header {%if cover_image %}class="post-header has-cover"{% else %}class="post-header"{% endif %}>
      <div class="inner">
        <div class="archive archive-tag box archive-box">
          <span class="archive-info">
            <span class="archive-type">Archive</span>
            <span class="archive-count">{{ articles|count }} {% if articles|count > 1 %} Posts {% else %} Post {% endif %}</span>
          </span>
          <h2 class="archive-title">{{ period | reverse | join (' ') }}</h2>
        </div>
        {% if cover_image %}
          <div class="post-cover cover">
            <img src="{{ cover_image }}" alt="Archives for {{ SITEURL }}" />
          </div>
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block content %}
<div id="index" class="container">
<main class="content" role="main">
  <article class="post">
    <div class="inner">
    <section class="post-content">
      <dl>
      {% for article in dates %}
          <dt>{{ article.date | strftime('%d %B %Y') }}</dt>
          <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
      {% endfor %}
      </dl>
    </section>
    </div>    
  </article>
  </main>
  </div>
{% endblock content %}
