{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Posts tagged with {{ tag }}{% endblock %}

{% if COVER_IMAGES and "tags" in COVER_IMAGES %}
  {% if tag in COVER_IMAGES["tags"] %}
    {% set cover_image = SITEURL + "/" + COVER_IMAGES["tags"][tag] %}
  {% endif %}
{% endif %}

{% block header %}
    <header {%if cover_image %}class="blog-header has-cover"{% else %}class="blog-header"{% endif %}>
      <div class="inner">
        <div class="archive archive-tag box archive-box">
          <span class="archive-info">
            <span class="archive-type">Tag</span>
            <span class="archive-count">{{ articles|count }} {% if articles|count > 1 %} Posts {% else %} Post {% endif %}</span>
          </span>
          <h2 class="archive-title">{{ tag }}</h2>
        </div>
    
        {% if cover_image %}
        <div class="blog-cover cover">
          <img
          src="{{ cover_image }}"
          alt="{{ SITENAME }}" />
        </div>
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block content %}
<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}
