{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% if COVER_IMAGES and "tags" in COVER_IMAGES %}
  {% set selected_cover = SITEURL + "/" + COVER_IMAGES["tags"] %}
{% endif %}

{% block header %}
    <header {%if selected_cover %}class="post-header has-cover"{% else %}class="post-header"{% endif %}>
      <div class="inner">
        <h1 class="post-title">Tags</h1>
        {% if selected_cover %}
        <div class="post-cover cover">
          <img src="{{ selected_cover }}" alt="Tags on {{ SITEURL }}" />
        </div>
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block content %}
  {% set max_count = (tags|map('last')|map('count')|max) or 1 %}
  {% set steps = (TAG_CLOUD_STEPS|default(5, true)) - 1 %}
  <main class="content" role="main">
  <article class="post">
    <div class="inner tag-cloud">
      <section class="post-content">
        <p>
          There are blog posts with the following tags:
      </p>
      <p>
      {% for tag, articles in tags|sort %}
        {% set count = articles|count %}
          <a href="{{ SITEURL }}/{{ tag.url }}" title="{{ count }} article(s) tagged '{{ tag }}'">{{ tag }}</a> <small>({{ count }})</small><br/>
      {% endfor %}
    </p>
    </section>
    </div>
  </article>
</main>
{% endblock content %}
