{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block header %}
  {% set cover_image = '' %}
  {% if COVER_IMAGES %}
    {% if 'tags' in COVER_IMAGES %}
      {% if COVER_IMAGES['tags'] | length > 0 %}
        {% set cover_image = SITEURL ~ '/' ~ COVER_IMAGES['tags'] %}
      {% endif %}
    {% endif %}
  {% endif %}
    <header {%if cover_image %}class="post-header has-cover"{% else %}class="post-header"{% endif %}>
      <div class="inner">
        <h1 class="post-title">Tags</h1>
        {% if cover_image %}
        <div class="post-cover cover">
          <img src="{{ cover_image }}" alt="Tags on {{ SITEURL }}" />
        </div>
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block content %}
  {% set max_count = (tags|map('last')|map('count')|max) or 1 %}
  {% set steps = (TAG_CLOUD_STEPS|default(5, true)) - 1 %}
  <main class="content" role="main">
  <article class="post">
    <div class="inner tag-cloud">
      <section class="post-content">
        <h2>There are blog posts with the following tags</h2>
      <p>
      {% for tag, articles in tags|sort %}
        {% set count = articles|count %}
          <a href="{{ SITEURL }}/{{ tag.url }}" title="{{ count }} article(s) tagged '{{ tag }}'">{{ tag }}</a> <small>({{ count }})</small><br/>
      {% endfor %}
    </p>
    </section>
    </div>
  </article>
</main>
{% endblock content %}
